<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Konekcija" connectionString="Data Source=.\KRSTE;Initial Catalog=Aleksandar;Integrated Security=True" />
    <add name="AleksandarConnectionString" connectionString="Data Source=.\KRSTE;Initial Catalog=Aleksandar;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>