
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: #3B3B3B;
}

#prikazPodatoci p
{
    border-bottom: 1px solid #E7DFD7;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

.custompopup
        {
            background-color: #fff;
            border: 5px Solid Black;
            display: block;
            width:400px;
            height:400px;
            overflow:auto;
            left: 50%;
            padding: 25px;
            position: fixed;
            text-align: justify;
            top: 50%;
            z-index: 20;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
            -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
            -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
            -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
            -webkit-transition: opacity .5s, top .5s;
            -moz-transition: opacity .5s, top .5s;
            -ms-transition: opacity .5s, top .5s;
            -o-transition: opacity .5s, top .5s;
        }

        .custompopup p, .custompopup div
        {
            margin-bottom: 10px;
            
        }
        .custompopup label
        {
            display: inline-block;
            text-align: left;
            width: 120px;
        }
        .custompopup input[type="text"], .custompopup input[type="password"]
        {
            border: 1px solid;
            border-color: #999 #ccc #ccc;
            margin: 0;
            padding: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            border-radius: 2px;
        }
        .custompopup input[type="text"]:hover, .custompopup input[type="password"]:hover
        {
            border-color: #555 #888 #888;
        }
        #lblTipOprema,#txtTipOprema,#lblProizvoditel,#txtProizvoditel,#lblModel,#txtModel,#lblBrojProdukt,#txtBrojProdukt1,#lblSeriskiBroj,#txtSeriskiBroj1,#lblPartNo,#txtPartNo,#lblInventarenBroj,#txtInventarenBroj1,#lblDobavuvac,#txtDobavuvac,#lblNabavnaCena,#txtNabavnaCena1,#lblBrojNaFaktura,#txtBrojNaFaktura1,#lblDatumNaVnes1,#txtDatumNaVnes,#lblDatumNaFaktura1,#txtDatumNaFaktura,#lblSeriskiBroj,#txtSeriskiBroj1,#lblStatus,#txtStatus,#lblKorisnik,#txtKorisnik,#lblGrad,#txtGrad,#lblOrganizacionaEdinica,#txtOrganizacionaEdinica,#lblSluzba,#txtSluzba,#lblSektor,#txtSektor,#lblBrojNaBaranje,#txtBrojNaBaranje1,#lblBrojNaNalog,#txtBrojNaNalog1,#lblGaranciskiRok,#txtGaranciskiRok1,#lblBrojCheckLista,#txtBrojCheckLista1,#lblZabeleska,#txtZabeleska1
        {
            display:block;
            margin:2px;   
        }
        #Zacuvaj
        {
            margin-left:55px;
            margin-top:10px;    
        }

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #107710;
}

a:hover {
}

/* Header */

#header-wrapper {
}

#header {
	clear: both;
	width: 1200px;
	margin: 0px auto;
}


/* Menu */
.navbar
{
}
#menu-wrapper {
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	padding: 0px;
	height: 56px;
	background: #5EAFD7;
	border-top: 1px solid #5EAFD7;
	/*border-radius: 8px;*/
}

#menu {
	width: 1200px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
	
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	border-right: 1px solid #FFFFFF;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	margin: 0px 10px;
	padding: 10px 20px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	background: #FFFFFF;
	/*border-radius: 8px;*/
	text-decoration: none;
	color: #000000;
}

#menu .current_page_item a {
	background: #FFFFFF;
	/*border-radius: 8px;*/
}


/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
	
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 210px;
	outline: none;
	background: #FFFFFF;
	border: 1px solid #D7D0C0;
	padding: 10px;
	/*border-radius: 8px;*/
	margin-left:45px;
	text-align:center;
	
	font-family: 'Open Sans', sans-serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}


/* Page */

#page {
	overflow: hidden;
	
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 970px;
}

.post {
	margin-bottom: 15px;
	padding: 30px 30px;
	border: 1px solid #E7DFD7;
	/*border-radius: 8px;*/
	background: #F8F8F8;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 32px;
}

.post .title a {
	border: none;
	color: #107710;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: right;
}

.post .meta .posted {
	float: left;
    width: 145px;
}



.post .entry {
	padding: 0px 0px 20px 0px;
	padding-bottom: 20px;
	text-align: justify;
}

.links {
	display: inline-block;
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

.button
{
	padding: 10px 25px;
	background: #5EAFD7;
	/*border-radius: 5px;*/
	text-transform: uppercase;
	font-size: 12px;
	color: #FFFFFF;
}

/* Sidebar */


#sidebar {
	float: left;
	width: 230px;
	margin-right: 30px;
	padding: 40px 30px 0px 30px;
	color: #787878;
	border: 1px solid #E7DFD7;
	/*border-radius: 8px;*/
	background: #F8F8F8;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 50px;
}

#sidebar li li {
	border-bottom: 1px solid #E7DFD7;
	margin: 0px 0px;
	padding: 10px 0px;
	border-left: none;
}

#sidebar li li a {
	color: #3B3B3B;
}

#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-bottom: 20px;
	font-size: 1.8em;
	color: #107710;
}

#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a{
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer 
{
    width:1200px;
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #F8F8F8;
	border-top: 5px solid #E7DFD7;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}
#btnsledi, .meni_kopcinja, #btnPocetna, #btnSledi,#btnSifrarnici
{
    margin:7px;
}
#DIV_dodadi_nov
{
    margin-left:79.2%;
    margin-top:-90px;
}
#dodadiNov
{
    padding:5px;
    font-size:1.2em;
}
#pnlDodadiNov
{
    margin-left: 20.5%;
    margin-top: -30px;
    padding:5px;
    display: block;
    border: 1px solid black;
    border-radius:5px;
    width: 57.5%;
}
#txtPartNo
{
    margin-left:0px;
}
#RequiredFieldValidator9
{
    margin-left:170px;
   
}
.portfolio-item {
	margin-bottom: 25px;
}

/*KOPCINJA*/

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}





